<header>
    <h1>Todo List</h1>
</header>

<section id="todoSec">
    
	<form id="todo-form" ng-submit="addTodo()">
		<input id="new-todo" placeholder="Que devez-vous faire ?" ng-model="newTodo" />
	</form>
    
	<article ng-show="todos.length" ng-cloak>
    
		<ul id="todo-list">
        
			<li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
            
				<div class="view">
                
					<input class="mark" type="checkbox" ng-model="todo.completed" />
					<span>{{todo.title}}</span>
					<i class="fa fa-times" ng-click="removeTodo(todo)"></i>
                    
				</div>
                
			</li>
            
		</ul>
        
		<input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
		<label class="btn btn-info" for="mark-all">Tout cocher</label>
        <label class="btn btn-danger" for="remove-all" ng-click="removeAll()" >Tout supprimer</label>
        
		<button class="btn btn-danger" ng-click="clearCompletedTodos()">Supprimer les t&acirc;ches coch&eacute;es</button>
        
	</article>
</section>
